.cart {
    background: #FFE0B3;
    padding: 25px;
    position: sticky;
    top: 0;
}

.cart p {
    font-size: 17px;
}

.btn-clear-cart {
    width: 90%;
    height: 56px;
    font-size: 21px;
    margin: 10 auto;
    background: #ff3030;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}